body, * {
  background-color: black;
  color: white;
  font-family: Comic Sans MS;
  margin: 2px;
  padding: 0 4px;
}

input, textarea, button, .tile {
  border: 1px #404040 solid;
}

table {  
  border: 2px #808080 solid;
  border-collapse: collapse;
}

label {
  display: block;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
  margin: 0;
}

.tile {
  padding: 0;
  height: 16px;
  width: 16px;
}
