body, * {
  background-color: black;
  color: white;
  font-family: Comic Sans MS;
  margin: 2px;
  padding: 0 4px;
}

input, textarea, button, .tile {
  border: 1px #404040 solid;
}

table {  
  border: 2px #808080 solid;
  border-collapse: collapse;
}

label {
  display: block;
}

button:hover {
  cursor: pointer;
}

.tile.palette:hover {
  cursor: pointer;
  height: 18px;
  width: 18px;
  margin: 1px;
}

.tile.palette:active {
  height: 16px;
  width: 16px;
  margin: 2px;
}

.tile.palette.selected:not(:active) {
  margin: 1px;
  height: 18px;
  width: 18px;

}

.tile.palette.selected {
  border: 1px white solid;
}

.tile {
  padding: 0;
  height: 16px;
  width: 16px;
}
